body{
  margin: 0;
  padding: 0;
  background-color: rgba(224, 212, 247, 0.356);

}

header{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 6em 5%;
  background-color: rgba(231, 237, 238, 0.658);
}

h1{
  font-size: 60px;
  margin: 0;
  color: #858585;
  
}

h2{
  font-size: 20px;
  font-weight: 100;
  opacity: 0.7;
  margin: 20px 0;

}


.content{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10em;
  
}

ul{
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 25px;
  /* margin: .9em 0; */
  color: #4e4e4e;
  display: flex;
  justify-content: space-between;
  border-left: 2px solid  #4e4e4e;
  padding: 15px;
  align-items: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.dropbtn {
  background-color: #8ac78b;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

 .dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

ul li:nth-child(even) {
  background-color:#4ebde913;
}
ul li:hover{
  background-color:  #4e4e4e15;
}

ul li .delete {
  background-color: #4ebde9;
  font-size: 15px;
  padding: .5em 1.4em;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

ul li .delete:hover{
  background-color: red;
  text-align: right;
}
.items{
  width: 50%;
}


.form{
  padding-top: 3em;
  padding-bottom: 3em;
  border-top: 1px solid #22222230;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(224, 212, 247, 0.356);
}
input{
  width: 300px;
  height: 30px;
  border: none;
  background-color: transparent;
  /* border-radius: 3px; */
  padding: 5px 15px;
  border-bottom: 2px solid #22222260;
  margin-right: 20px;
}
input:focus{
  border: 1px solid red;
}
button{
  background-color: rgb(157, 159, 160);
  color: #fff;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#hide-all{
  color:  chocolate;
}
.checkbox{
  display: flex;
  align-items: center;

}

#hide{
  margin: 10px;
  padding: 0;
  width: 20px;
}

@media screen and (min-width: 768px) {
  header{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 6em 0;
  }
  form{
    flex-wrap: wrap;
  }
  .list{
    visibility: hidden;
  }
  .active{
    display: inline;
  }
.content{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: left;
  margin-bottom: 10em;
}
}
@media screen and (max-width: 400px) {
  .form{
    flex-direction: column;
  }
  button{
    margin-top: 30px;
  }
}